---
import { getSession } from 'auth-astro/server';
const session = await getSession(Astro.request)
import Layout from '../layouts/Layout.astro';
import ComissionCard from '../components/ComissionCard.astro';
const getProductData = await fetch(`${Astro.url.origin}/api/products.json`);
const productData = await getProductData.json();
---
<Layout title='Comissions'>
    <div class="flex justify-center">
        <h1 class="text-3xl text-secondary m-5">Comissions</h1>
    </div>
    <div class="flex justify-center m-10">
        <div class="grid gap-5 grid-cols-1 xl:grid-cols-2">
            {productData.products.map((product: any) => (
                <ComissionCard
                    name={product.name}
                    price={product.price}
                    example={product.example}
                    description={product.description}
                    id={product.id}
                />
            ))}
        </div>
    </div>
</Layout>